<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
</head>
<body>
    <h1>welcome to add admission project </h1>
    <h2>my name is sireesha and my fater name is sreenivasulu</h2>

    <img src="{% static 'images/school-logo.jpg'%}" alt=""/>
   
</body>
</html>